openapi: 3.1.0
info:
  title: OpenAI Responses API
  version: 1.0.0
  description: >
    Streaming Responses API authenticated with a bearer API key.
    The ChatGPT Codex backend uses the same schemas with OAuth authentication
    and a chatgpt-account-id header. This spec models SSE only.
servers:
  - url: https://api.openai.com/v1
paths:
  /responses:
    post:
      operationId: createResponse
      summary: Create a streaming response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateResponseRequest"
      responses:
        "200":
          description: Server-Sent Events stream of response events
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ResponsesResponseStreamEvent"

components:
  schemas:
    CreateResponseRequest:
      type: object
      required: [model]
      properties:
        model:
          type: string
          description: Model ID (e.g. gpt-5.6-sol)
        store:
          type: boolean
          default: false
        stream:
          type: boolean
          default: true
        instructions:
          type: string
          description: System prompt / developer instructions
        previous_response_id:
          type: string
          description: Prior response ID for delta continuation (WebSocket cached mode)
        input:
          type: array
          description: Conversation items (messages, tool calls, tool results)
          items:
            $ref: "#/components/schemas/ResponsesInputItem"
        tools:
          type: array
          items:
            $ref: "#/components/schemas/ResponsesTool"
        tool_choice:
          type: string
          enum: [auto, none, required]
          default: auto
        parallel_tool_calls:
          type: boolean
          default: true
        temperature:
          type: number
          format: float
        reasoning:
          $ref: "#/components/schemas/ResponsesReasoning"
        service_tier:
          type: string
          enum: [auto, default, flex, priority, ultrafast]
          description: >
            flex = half price (slower), priority = 2x price (faster).
            default / auto use standard pricing. Ultrafast is the fastest tier at higher cost.
        text:
          type: object
          properties:
            verbosity:
              type: string
              enum: [low, medium, high]
          description: Controls output verbosity
        include:
          type: array
          items:
            type: string
          description: >
            Additional fields to include in the response.
            e.g. ["reasoning.encrypted_content"]
        prompt_cache_key:
          type: string
          description: Token for prompt caching
      additionalProperties: true

    ResponsesReasoning:
      type: object
      properties:
        effort:
          type: string
          enum: [none, minimal, low, medium, high, xhigh, max]
          description: Reasoning depth
        summary:
          type: string
          enum: [auto, concise, detailed, off, on]
          description: Reasoning summary style
      additionalProperties: true

    ResponsesInputItem:
      oneOf:
        - $ref: "#/components/schemas/ResponsesSystemMessage"
        - $ref: "#/components/schemas/ResponsesDeveloperMessage"
        - $ref: "#/components/schemas/ResponsesUserMessage"
        - $ref: "#/components/schemas/ResponsesAssistantMessage"
        - $ref: "#/components/schemas/ResponsesFunctionCall"
        - $ref: "#/components/schemas/ResponsesFunctionCallOutput"
      discriminator:
        propertyName: type
        mapping:
          system: "#/components/schemas/ResponsesSystemMessage"
          developer: "#/components/schemas/ResponsesDeveloperMessage"
          user: "#/components/schemas/ResponsesUserMessage"
          assistant: "#/components/schemas/ResponsesAssistantMessage"
          function_call: "#/components/schemas/ResponsesFunctionCall"
          function_call_output: "#/components/schemas/ResponsesFunctionCallOutput"

    ResponsesSystemMessage:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [system]
        content:
          type: string

    ResponsesDeveloperMessage:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [developer]
        content:
          type: string

    ResponsesUserMessage:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [user]
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/ResponsesInputContent"

    ResponsesInputContent:
      oneOf:
        - $ref: "#/components/schemas/ResponsesInputText"
        - $ref: "#/components/schemas/ResponsesInputImage"
      discriminator:
        propertyName: type
        mapping:
          input_text: "#/components/schemas/ResponsesInputText"
          input_image: "#/components/schemas/ResponsesInputImage"

    ResponsesInputText:
      type: object
      required: [type, text]
      properties:
        type:
          type: string
          enum: [input_text]
        text:
          type: string

    ResponsesInputImage:
      type: object
      required: [type, image_url]
      properties:
        type:
          type: string
          enum: [input_image]
        image_url:
          type: string
          description: data:image/...;base64,... URL
        detail:
          type: string
          enum: [auto, low, high]
          default: auto

    ResponsesAssistantMessage:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [assistant]
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/ResponsesOutputContent"
        id:
          type: string
          description: Assistant message ID (msg_xxx)
        status:
          type: string
          enum: [completed, incomplete]
        phase:
          type: string
          enum: [commentary, final_answer]
          description: >
            Distinguishes plan/commentary text from final answer text.
            Used by reasoning models.

    ResponsesOutputContent:
      oneOf:
        - $ref: "#/components/schemas/ResponsesOutputText"
      discriminator:
        propertyName: type
        mapping:
          output_text: "#/components/schemas/ResponsesOutputText"

    ResponsesOutputText:
      type: object
      required: [type, text]
      properties:
        type:
          type: string
          enum: [output_text]
        text:
          type: string
        annotations:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Annotations (citations, file references, etc.)

    ResponsesFunctionCall:
      type: object
      required: [type, call_id, name, arguments]
      properties:
        type:
          type: string
          enum: [function_call]
        id:
          type: string
          description: Unique item ID (fc_xxx)
        call_id:
          type: string
          description: Tool call identifier
        name:
          type: string
          description: Function name
        arguments:
          type: string
          description: JSON-encoded arguments

    ResponsesFunctionCallOutput:
      type: object
      required: [type, call_id, output]
      properties:
        type:
          type: string
          enum: [function_call_output]
        call_id:
          type: string
          description: Matching call_id from the function_call
        output:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/ResponsesInputContent"
          description: Tool result text or content array (for images)

    ResponsesTool:
      type: object
      required: [type, name]
      properties:
        type:
          type: string
          enum: [function]
        name:
          type: string
        description:
          type: string
        parameters:
          type: object
          additionalProperties: true
          description: JSON Schema for the function parameters
        strict:
          type: boolean
          default: false
        defer_loading:
          type: boolean
          description: >
            If true, the tool definition is registered lazily.
            Only included in tool_search_output items, not as a top-level tool.
      additionalProperties: true

    ResponsesResponseStreamEvent:
      type: object
      description: >
        A single SSE event from the Responses API stream.  The `type`
        field discriminates the event kind.  Only the most important event
        shapes are modelled; unknown events should be parsed leniently.
      required: [type]
      properties:
        type:
          type: string
          enum:
            - response.created
            - response.output_item.added
            - response.output_text.delta
            - response.reasoning_text.delta
            - response.reasoning_summary_text.delta
            - response.reasoning_summary_part.done
            - response.refusal.delta
            - response.function_call_arguments.delta
            - response.function_call_arguments.done
            - response.output_item.done
            - response.completed
            - response.incomplete
            - response.failed
            - error
        response:
          $ref: "#/components/schemas/ResponsesCreatedResponse"
        output_index:
          type: integer
        item:
          $ref: "#/components/schemas/ResponsesOutputItem"
        delta:
          type: string
        arguments:
          type: string
        code:
          type: string
        message:
          type: string
      additionalProperties: true

    ResponsesCreatedResponse:
      type: object
      properties:
        id:
          type: string
          description: Response ID (resp_xxx)
        status:
          type: string
      additionalProperties: true

    ResponsesOutputItem:
      oneOf:
        - $ref: "#/components/schemas/ResponsesReasoningItem"
        - $ref: "#/components/schemas/ResponsesMessageItem"
        - $ref: "#/components/schemas/ResponsesFunctionCallItem"
      discriminator:
        propertyName: type
        mapping:
          reasoning: "#/components/schemas/ResponsesReasoningItem"
          message: "#/components/schemas/ResponsesMessageItem"
          function_call: "#/components/schemas/ResponsesFunctionCallItem"

    ResponsesReasoningItem:
      type: object
      required: [type, id]
      properties:
        type:
          type: string
          enum: [reasoning]
        id:
          type: string
        encrypted_content:
          type: string
          description: Encrypted reasoning content (opaque to client)
        summary:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              text:
                type: string
            additionalProperties: true
        content:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              text:
                type: string
            additionalProperties: true
      additionalProperties: true

    ResponsesMessageItem:
      type: object
      required: [type, id, role]
      properties:
        type:
          type: string
          enum: [message]
        id:
          type: string
        role:
          type: string
          enum: [assistant]
        content:
          type: array
          items:
            $ref: "#/components/schemas/ResponsesOutputContent"
        status:
          type: string
        phase:
          type: string
      additionalProperties: true

    ResponsesFunctionCallItem:
      type: object
      required: [type, call_id, name]
      properties:
        type:
          type: string
          enum: [function_call]
        id:
          type: string
        call_id:
          type: string
        name:
          type: string
        arguments:
          type: string
      additionalProperties: true

    ResponsesTerminalResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [completed, incomplete, failed, cancelled]
        service_tier:
          type: string
        usage:
          $ref: "#/components/schemas/ResponsesUsage"
        output:
          type: array
          items:
            $ref: "#/components/schemas/ResponsesOutputItem"
        error:
          $ref: "#/components/schemas/ResponsesResponseError"
        incomplete_details:
          type: object
          additionalProperties: true
      additionalProperties: true

    ResponsesResponseError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      additionalProperties: true

    ResponsesUsage:
      type: object
      properties:
        input_tokens:
          type: integer
        output_tokens:
          type: integer
        total_tokens:
          type: integer
        input_tokens_details:
          type: object
          properties:
            cached_tokens:
              type: integer
            cache_write_tokens:
              type: integer
          additionalProperties: true
        output_tokens_details:
          type: object
          properties:
            reasoning_tokens:
              type: integer
          additionalProperties: true
      additionalProperties: true
